<div class="relative">
    <div class= "cols-md-12">
        <div class="cover-img">
            <%= image_tag asset_path('gyometelast.png'), width: "100%",class: 'img-responsive' %>
        </div>
    </div>
</div>
