<%@forms.each do |p|%>
   <a href="/form_view/<%=p.id%>"><%=p.title%></a></br>
   </hr>
<%end%>
<a href="/home/form_write">글 쓰러 가기</a>
<form action="/home/form_result" method="GET">
  <input type="text" name="search" class="form_control">
  <button type="submit" class="btn btn-default">검색</button>
</form>
