<div class="container">
    <h1>커뮤니티 게시판</h1>
    <% @posts.each do |p| %>
        <%=link_to p.title, post_view_path(p.id), method: 'get'%> </br>
    <% end %>

</div>

<div class="container">
    <form action="/home/post_write" method="GET">
        <button type="submit" class="btn btn-default">글쓰기</button>
    </form>
    
    <form action="/home/post_result" method="GET">
        <input type="text" name="search" class="form_control">
        <button type="submit" class="btn btn-default">검색</button>
    </form>
</div>