<section id="screen-width" style="width:83%; min-height: 655px;">
  <article id="desktop">
    <div class="row">
        <div class="co1 s12 m11 l11">
          <div class="table-wrapper">
            <div class="main-container">
                <h1>커뮤니티 게시판</h1>
                <br>
                <br>
                <br>
                <table class="bordered highlight">
                    <thead>
                        <tr>
                            <th data-field="title">제목</th>
                            <th data-field="author">작성자</th>
                            <th data-field="date">날짜</th>
                            <th data-field="view">view</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <% @posts.each do |p| %>
                                    <%=link_to p.title, post_view_path(p.id), method: 'get'%><br>
                                <% end %>                    
                            </td>
                            <td>
                                <% @posts.each do |p| %>
                                    <%="익명"%><br>
                                <%end%>
                            </td>
                            <td>
                                <% @posts.each do |p| %>
                                    <%=p.created_at%><br>
                                <%end%>
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>    

                </table>
                <br>
                <br>
                <br>
                <br>
                <div class="write">
                    <div class="wrap">
                        <form class="search" action="/home/post_result" method="GET" accept-charset="UTF-8">
                            <input name="utf8" type="hidden" value="✓">
                            <input type="text" name="search_keyword" id="search_keyword" placeholder="검색" class="validate searchTerm">
                            <button name="botton" type="submit" >
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                         <form action="/home/post_write" method="GET">
                            <button type="submit" class="btn btn-default">글쓰기</button>
                        </form>
                </div>
                <div class="flickr_pagination">...</div>
            </div>
          </div>    
        </div>
    </div>
  </article>
</section>
