// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face{
    font-family:"Ionicons";
    src: font-url("ionicons.eot?v=2.0.0");
    src: font-url("ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),font-url("ionicons.ttf?v=2.0.0") format("truetype"),font-url("ionicons.woff?v=2.0.0") format("woff"),font-url("ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight:normal;font-style:normal
}

@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot?v=4.1.0');
  src: font-url('fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), font-url('fontawesome-webfont.woff?v=4.1.0') format('woff'), font-url('fontawesome-webfont.ttf?v=4.1.0') format('truetype'), font-url('fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'flexslider-icon';
  src: font-url('flexslider-icon.eot');
  src: font-url('flexslider-icon.eot?#iefix') format('embedded-opentype'), font-url('flexslider-icon.woff') format('woff'), font-url('flexslider-icon.ttf') format('truetype'), font-url('flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

 @font-face{
   font-family:'Glyphicons Halflings';
   src: font-url('glyphicons-halflings-regular.eot');
   src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), font-url('glyphicons-halflings-regular.woff2') format('woff2'), font-url('glyphicons-halflings-regular.woff') format('woff'),font-url('glyphicons-halflings-regular.ttf') format('truetype'),font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.top-nav-bar{
    position: fixed;
    top: 0;
    width: 50%;
    height: 60px;
    z-index: 1;
    background: #ffffff;
    padding: 0 20px;
    margin-left: 25%; 
    margin-right: 25%;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }